@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div id="calendar"></div>

<style>
    #myModal {
        text-align: left;
    }

    .modal-content {
        border-radius: 0;
    }

    .modal-body {
        padding: 20px;
    }

    .btn-group {
        margin-top: 10px;
    }

    .btn {
        border-radius: 0;
        margin-right: 10px;
    }

    /* Optional: Adjust button colors and styles based on your design */
    .btn-info {
        background-color: #5bc0de;
        border-color: #46b8da;
    }

        .btn-info:hover {
            background-color: #46b8da;
            border-color: #269abc;
        }

    .btn-danger {
        background-color: #d9534f;
        border-color: #d43f3a;
    }

        .btn-danger:hover {
            background-color: #c9302c;
            border-color: #ac2925;
        }
</style>

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><span id="eventTitle"></span></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <p id="pDetails"></p>
                    </div>
                    <div class="col-md-6">
                        <div class="btn-group" role="group" aria-label="Event Actions">
                            <button id="btnDelete" class="btn btn-danger">Remove</button>
                           @*  <button id="btnEdit" class="btn btn-info">
                                Edit
                            </button> *@
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@*  <div id="myModalSave" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Save Event</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <input type="hidden" id="hdEventID" value="0" />
                    <div class="form-group">
                        <label for="txtSubject">Subject</label>
                        <input type="text" id="txtSubject" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="txtStart">Start</label>
                        <div class="input-group date" id="dtp1">
                            <input type="text" id="txtStart" class="form-control" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="chkIsFullDay" checked="checked" /> Is Full Day event
                            </label>
                        </div>
                    </div>
                    <div class="form-group" id="divEndDate" style="display:none">
                        <label for="txtEnd">End</label>
                        <div class="input-group date" id="dtp2">
                            <input type="text" id="txtEnd" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="txtDescription">Description</label>
                        <textarea id="txtDescription" rows="3" class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="ddThemeColor">Theme Color</label>
                        <select id="ddThemeColor" class="form-control">
                            <option value="">Default</option>
                            <option value="red">Red</option>
                            <option value="blue">Blue</option>
                            <option value="black">Black</option>
                            <option value="green">Green</option>
                        </select>
                    </div>
                    <button type="button" id="btnSave" class="btn btn-success">Save</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </form>
            </div>
        </div>
    </div>
</div> *@
 
<link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.print.css" rel="stylesheet" media="print" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/css/bootstrap-datepicker.min.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.css" rel="stylesheet" />

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/locales/bootstrap-datepicker.zh-TW.min.js"></script>
      <script>
        $(document).ready(function () {
            var events = [];
            var selectedEvent = null;

            FetchEventAndRenderCalendar();

            function FetchEventAndRenderCalendar() {
                events = [];
                $.ajax({
                    type: "GET",
                    url: "/home/GetEvents",
                    success: function (data) {
                        $.each(data, function (i, v) {
                            events.push({
                                EventID: v.eventID,
                                title: v.subject,
                                description: v.description,
                                start: moment(v.startDate),
                                end: v.endDate ? moment(v.endDate) : null,
                                color: v.themeColor,
                                allDay: v.isFullDay
                            });
                        });

                        generateCalendar(events);
                    },
                    error: function (error) {
                        alert('Failed to fetch events.');
                    }
                });
            }

            function generateCalendar(events) {
                $('#calendar').fullCalendar('destroy');
                $('#calendar').fullCalendar({
                    contentHeight: 400,
                    defaultDate: new Date(),
                    timeFormat: 'h:mm a',
                    header: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'month,basicWeek,basicDay,agenda'
                    },
                    eventLimit: true,
                    eventColor: '#378006',
                    events: events,
                    eventClick: function (calEvent, jsEvent, view) {
                        selectedEvent = calEvent;
                        $('#myModal #eventTitle').text(calEvent.title);
                        var $description = $('<div/>');
                        $description.append($('<p/>').html('<b>Start:</b>' + calEvent.start.format("DD-MMM-YYYY HH:mm a")));
                        if (calEvent.end != null) {
                            $description.append($('<p/>').html('<b>End:</b>' + calEvent.end.format("DD-MMM-YYYY HH:mm a")));
                        }
                        $description.append($('<p/>').html('<b>Description:</b>' + calEvent.description));
                        $('#myModal #pDetails').empty().html($description);

                        if (!$('#myModal').is(':visible')) {
                            $('#myModal').modal('show');
                         }
                        // selectable: true,
                        //     select: function (start, end) {
                        //         selectedEvent = {
                        //             eventID: 0,
                        //             title: '',
                        //             description: '',
                        //             start: start,
                        //             end: end,
                        //             allDay: false,
                        //             color: ''
                        //         };
                        //         openAddEditForm();
                        //         $('#calendar').fullCalendar('unselect');
                        //     },
                        // editable: true,
                        //     eventDrop: function (event, delta, revertFunc) {
                        //         var data = {
                        //             EventID: event.eventID,
                        //             Subject: event.title,
                        //             Start: event.start.format('DD/MM/YYYY HH:mm A'),
                        //             End: event.end != null ? event.end.format('DD/MM/YYYY HH:mm A') : null,
                        //             Description: event.description,
                        //             ThemeColor: event.color,
                        //             IsFullDay: event.allDay
                        //         };
                        //         SaveEvent(data);
                        //     
                    }
                })
            }
            // $('#btnEdit').click(function () {
            //     //Open modal dialog for edit event
            //     openAddEditForm();
            // })
              $('#btnDelete').click(function() {
                      if (selectedEvent != null && confirm('Are you sure?')) {
                        $.ajax({
                            type:"POST",
                            url: '/home/DeleteEvent',
                            data: { EventID: selectedEvent.EventID },
                       
                            success: function (data) {
                                if (data.status) {
                                    FetchEventAndRenderCalendar();
                                    $('#myModal').modal('hide');
                                }
                            },
                            error: function () {
                                alert('Failed to delete event.');
                            }
                        })
                    }
              })

            // $('#dtp1,#dtp2').datetimepicker({
            //     format: 'DD/MM/YYYY HH:mm A'
            // });

            // $('#chkIsFullDay').change(function () {
            //     if ($(this).is(':checked')) {
            //         $('#divEndDate').hide();
            //     }
            //     else {
            //         $('#divEndDate').show();
            //     }
            // });
            // function openAddEditForm() {
            //     if (selectedEvent != null) {
            //         $('#hdEventID').val(selectedEvent.eventID);
            //         $('#txtSubject').val(selectedEvent.title);
            //         $('#txtStart').val(selectedEvent.start.format('DD/MM/YYYY HH:mm A'));
            //         $('#chkIsFullDay').prop("checked", selectedEvent.allDay || false);
            //         $('#chkIsFullDay').change();
            //         $('#txtEnd').val(selectedEvent.end != null ? selectedEvent.end.format('DD/MM/YYYY HH:mm A') : '');
            //         $('#txtDescription').val(selectedEvent.description);
            //         $('#ddThemeColor').val(selectedEvent.color);
            //     }
            //     $('#myModal').modal('hide');
            //     $('#myModalSave').modal();
            // }
            // $('#btnSave').click(function () {
            //     //Validation/
            //     if ($('#txtSubject').val().trim() == "") {
            //         alert('Subject required');
            //         return;
            //     }
            //     if ($('#txtStart').val().trim() == "") {
            //         alert('Start date required');
            //         return;
            //     }
            //     if ($('#chkIsFullDay').is(':checked') == false && $('#txtEnd').val().trim() == "") {
            //         alert('End date required');
            //         return;
            //     }
            //     else {
            //         var startDate = moment($('#txtStart').val(), "DD/MM/YYYY HH:mm A").toDate();
            //         var endDate = moment($('#txtEnd').val(), "DD/MM/YYYY HH:mm A").toDate();
            //         if (startDate > endDate) {
            //             alert('Invalid end date');
            //             return;
            //         }
            //     }

            //     var data = {
            //         EventID: $('#hdEventID').val(),
            //         Subject: $('#txtSubject').val().trim(),
            //         Start: $('#txtStart').val().trim(),
            //         End: $('#chkIsFullDay').is(':checked') ? null : $('#txtEnd').val().trim(),
            //         Description: $('#txtDescription').val(),
            //         ThemeColor: $('#ddThemeColor').val(),
            //         IsFullDay: $('#chkIsFullDay').is(':checked')
            //     }
            //     SaveEvent(data);
            //     // call function for submit data to the server
            // })
            // function SaveEvent(data) {
            //     $.ajax({
            //         type: "POST",
            //         url: '/home/SaveEvent',
            //         data: data,
            //         success: function (data) {
            //             if (data.status) {
            //                 //Refresh the calender
            //                 FetchEventAndRenderCalendar();
            //                 $('#myModalSave').modal('hide');
            //             }
            //         },
            //         error: function () {
            //             alert('Failed');
            //         }
            //     })
            // }
        })
    </script>
}
